.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-contenedor {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 200px;
  height: 200px;
}

h1 {
  color: #fff;
  font-size: 25px;
  font-family: roboto, sans-serif;
}

.tareas-lista-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  min-height: 500px;
  background-color: #bbb;
  padding: 25px;
  margin: 10px;
  border-radius: 10px;
}
