.boton-contenedor {
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 38px;
  height: 83px;
  padding: 10px;
  background-color: darkslateblue;
  color: #fff;
  border-radius: 25px;
  margin: 5px;
  cursor: pointer;
  user-select: none;
}

.boton-contenedor:hover {
  background-color: rgb(81, 75, 119);
}

.operador {
  background-color: #00471b;
}

.operador:hover {
  background-color: #3d634c;
}
